<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> </p>
<p class="lead mb-3">Menu - <%= menu[0].itemName %> </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/menu" class="btn btn-primary">Add Menu</a>
