<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %> </p>
<div class="container-fluid row justify-content-center">
  <ul class="card list-group col-sm-8 p-4">
          <h1 class="display lg-6 text-center">Menu</h1>
          <% for (let i=0; i<menu.length; i++){ %>
            <span> <%= menu[i] %> </span>
         <% } %>
         <div class="row d-flex justify-content-center">
         <div class="row-md-2 p-2">
         <a href="/users/logout" class="btn btn-secondary btn-block">Logout</a>
         </div>
         <div class="row-md-2 p-2">
         <a href="/users/menu" class="btn btn-primary btn-block">Edit Menu</a>
         </div>
         </div>
  </ul>
</div>